<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Help</title>

  <style>
        td {
            border: black solid 3px;
            padding: 1rem;
            height: 10rem;
            width: 10rem;
        }

        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>

<div class="container">

  <h1>November</h1>
  <!--calendar will be a table below-->
  <table class="table border border-dark">
    <thead>
    <tr  class="border border-3 border-dark">
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">31</td>
      <td>
        1
        <div >
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
        </div>
      </td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <td scope="row">7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11
        <div>
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
        </div>
      </td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <td scope="row">14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
    </tr>
    <tr>
      <td scope="row">21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27
        <div >
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
          <p>12:33pm - reading</p>
        </div>
      </td>
    </tr>
    <tr>
      <td scope="row">28</td>
      <td>29</td>
      <td>30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>