<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>What is Blood Pressure?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="login.html">Pressure.</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
<!--                <li class="active"><a href="#">Dashboard</a></li>-->
                <li><a th:href="@{/endusers}">Profile</a></li>
                <li><a th:href="@{/info}">What is Blood Pressure?</a></li>
                <li><a th:href="@{/all}">History</a></li>
<!--                <li><a th:href="#">Schedule</a></li>-->


                <!--                <li><a href="#">Help</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Pressure.</h2>
            <ul class="nav nav-pills nav-stacked">
<!--                <li class="active"><a href="#section1">Dashboard</a></li>-->
                <li><a th:href="@{/endusers}">Profile</a></li>
                <li><a th:href="@{/info}">What is Blood Pressure?</a></li>
                <li><a th:href="@{/all}">History</a></li>
<!--                <li><a href="#section3">Help</a></li>-->

            </ul><br>
        </div>
        <br>

<!--        <div class="col-sm-9">-->


<!--                <p>Some text..</p>-->

               <img src="blood-pressure-chart.jpg"  width="480" height="400">
             <img src="blood-pressure-chart-by-age.jpg"  width="480" height="400">


            <style>
                img {
                width: 50
                height: 50
                }
            </style>

        <div class="col-sm-3">
            <div class="well">
                <h4>Blood Pressure</h4>
                <p>
                    Blood pressure (BP) is the amount of force that blood exerts on the walls of the arteries as it circulates in the body.
                    Arteries are the blood vessels that carry blood from the heart to the rest of the body.
                    Blood pressure is initiated by the contraction and relaxation of the heart to circulate the blood through the body.

                    Blood pressure is measured by a device called a blood pressure meter (also known as a sphygmomanometer).
                    The unit of measurement is millimetres of mercury abbreviated as mmHg. Blood pressure is measured and recorded as two numbers, written as top number and a bottom number. The top number stands for systolic blood pressure while the bottom number stands for diastolic blood pressure.

                    For example, 120/80 mmHg (read as 120 over 80) means that the systolic blood pressure is 120 mmHg while the diastolic blood pressure is 80 mmHg.
                </p>
            </div>
        </div>



            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h4>The Blood Pressure Chart</h4>
                        <p>This blood pressure chart can help you figure out if your blood pressure is at a healthy level or if you'll need to take some steps to improve your numbers.

                            Your total blood pressure reading is determined by measuring your systolic and diastolic blood pressures. Systolic blood pressure,
                            the top number, measures the force your heart exerts on the walls of your arteries each time it beats. Diastolic blood pressure, the bottom number, measures the force your heart exerts on the walls of your arteries in between beats.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Categories</h4>
                        <p>Blood pressure readings fall into four general categories,
                            ranging from normal to stage 2 high blood pressure (hypertension). The level of your blood pressure determines what kind of treatment you may need. To get an accurate blood pressure measurement, your doctor should evaluate your readings based on the average of two or more blood pressure
                            readings at three or more office visits.
                            Here's a look at the four blood pressure categories and what they mean for you.
                            If your systolic and diastolic readings fall into two different categories, your correct blood pressure category is the higher category. For example, if your blood pressure reading is 125/85 millimeters of mercury (mm Hg), you have stage 1 hypertension.</p>
                    </div>
                </div>

<!--                <div class="col-sm-3">-->
<!--                    <div class="well">-->
<!--                        <h4>Bounce</h4>-->
<!--                        <p>30%</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


            </div>
        </div>
    </div>
</div>

</body>
</html>

<!--<div class="row">-->
<!--    <div class="col-sm-4">-->
<!--        <div class="well">-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="well">-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="well">-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--            <p>Text</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
